{% extends "base.html"%} {% block title %}Admin{% endblock %} {% block content %}

<br>
<h1 class="text-center">Welcome back to the melon factory</h1>


<div class="mt-4">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            🆕 Add a new melon sort
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form accept-charset="UTF-8" action="/admin/add" method="POST"  enctype="multipart/form-data">
            <div class="form-group mt-4">
              <label for="productName">Name</label>
              <input type="text" class="form-control" id="productName" placeholder="The perfect name for the perfect product" name="productName" required/>
            </div>
            <div class="form-group">
              <label for="productDescription">Description</label>
              <textarea class="form-control" id="productDescription" rows="3" name="productDescription" required></textarea>
            </div>
            
            <label for="productPrice">Price</label>
            <div class="input-group mb-3">
             
              <div class="input-group-prepend">
                <span class="input-group-text">kr</span>
              </div>
            
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="productPrice" name="productPrice" required>
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
        
        
            <div class="form-group">
              <label for="productImage">Image</label>
              <input type="file" class="form-control-file" id="productImage" name="productImage" required>
            </div>
            
            </div>
            <button type="submit" class="btn btn-success mb-2 ml-3">🥼 CREATE IT!!!!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            🔧 Modify the melon
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="newName">New Name</label>
              <input type="text" class="form-control" id="newName">
            </div>
            <div class="form-group col-md-6">
              <label for="newDesc">New Description</label>
              <input type="text" class="form-control" id="newDesc">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="newPrice">New price</label>
              <input type="number" class="form-control" id="newPrice">
            </div>
          </div>
          
      </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Modify</th>
              </tr>
            </thead>
            <tbody>
              {% for p in products %}

              <tr>

                <form accept-charset="UTF-8" action="/admin/modify/{{p._id}}" method="POST"  enctype="multipart/form-data">
               

                  <td>{{p.itemName}}</td>
                  <td>{{p.itemDescription}}</td>
                  <td>SEK: {{p.itemPrice}}</td>
                  <td><button type="submit" class="btn btn-danger mb-2">Modify  </button></td>
                
                </form>
              </tr>
             
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            💣 Delete melon
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
         
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for p in products %}

              <tr>

                <form accept-charset="UTF-8" action="/admin/remove/{{p.itemName}}" method="POST"  enctype="multipart/form-data">
                  <td>{{p.itemName}}</td>
                  <td>{{p.itemDescription}}</td>
                  <td>SEK: {{p.itemPrice}}</td>
                  <td><button type="submit" class="btn btn-danger mb-2">X</button></td>
              </form>
              </tr>
             
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            👀 Users
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
         
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Basket</th>
                <th scope="col">Account Level</th>
                <th scope="col">Loaded</th>
              </tr>
            </thead>
            <tbody>
              {% for u in users %}

              <tr>
                <td>{{u.username}}</td>
                <td>{{u.basket}}</td>
                <td>{{u.account_level}}</td>
                <td>{{u.loaded}}</td>
              </tr>
             
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
