{% extends "base.html"%} {% block title %}Home page{% endblock %} {% block content %}

<div class="text-center">
    <br>
    <h1><strong>Welcome to the future of shopping</strong></h1>
    <p class="lead text-muted">With years of expirence have we deloped a new technology to delivery the best quality for the cheapest price</p>
    <p>
        <a href="/melons" class="btn btn-success my-2">Make your first purchase</a>
        <a href="/signup" class="btn btn-info my-2">Sign up</a>
      </p>

    <br>
      <div class="row">
        <div class="col">
            <h5 style="margin-top: 5%;">Buy all of your favorite melons in one place with a single press of a button</h5>
        </div>
        <div class="col">
            <img src="./static/assets/shopping-cart.gif" alt="Shopping cart" style="width: 20%;">
        </div>
      </div>
      <br>   <br><br>   <br>
      <div class="row">
        <div class="col">
            <img src="./static/assets/watermelon.gif" alt="Shopping cart" style="width: 20%;">
        </div>
        <div class="col">
            <h5 style="margin-top: 5%;">We have the best melons in the entire world gathered in one place</h5>
        </div>
      </div>
     
   
    
</div>
{% endblock %}
