{% extends "base.html"%} {% block title %}Search{% endblock %} {% block content %}

<ul class="list-unstyled">
    {% for item in values %}
  
    <li class="media">
      <a href="http://127.0.0.1:5000/videoPlayer/{{item.videoUUID}}">
        <img src="../{{item.thumbnailPATH}}" class="mr-3" alt="THUMBNAIL" style="height: 100px; width: 100px;" />
      </a>
  
      <div class="media-body">
        <h5 class="mt-0 mb-1"><strong>{{item.videoName}}</strong></h5>
        {{item.videoDesc}} <br />
        {{item.uploadTime}}
      </div>
    </li>
    <br />
  
    {% endfor %}
  </ul>

</form>{% endblock %}